body {
    background-color: rgba(173, 231, 235, 255);
    color: rgb(29, 8, 8);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #063970;
    border-radius: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}


.left {
    font-size: 1.5rem;
    color: white;
}

.right a {
    text-decoration: none;
    color: white;
}

.right a:hover {
    color: rgb(159, 229, 229);
    font-size: 1.5rem;
}

.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 100px;
}

.first-section *div {
    width: 70px;
}

.leftsection {

    color: black;
    height: 400px;
    width: 600px;
    margin-left: 70px;
}

.leftsection .content {

    display: block;
    justify-content: center;
    text-align: justify;
    margin: 120px;
    margin-left: 200px;
    line-height: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.content .box {
    background-color: rgb(255, 250, 250);
    width: 300px;
    height: 60px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 1px rgb(62, 65, 153);
}

.box .mail {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

.fa-regular {
    word-spacing: 20px;
    margin-left: 5px;

}

.content #somthing {
    font-size: 15px;
}

.first-section .rightsection {
    color: black;
    margin-right: 120px;

}

.rightsection {
    width: 400px;
    height: 370px;
    background-color: rgb(185, 166, 140);
    border-radius: 35px;
}

.rightsection .msg {
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    margin: 20px;
}

.rightsection .field {

    height: 50px;
    text-align: center;
}

.field {
    border-radius: 7px;
}

.field #from_name {
    border-radius: 10px;
    border: none;
    width: 200px;
    padding: 5px;
}

.field #email_id {
    border-radius: 10px;
    border: none;
    width: 200px;
    padding: 5px;
}

.field #subject {
    border-radius: 10px;
    border: none;
    width: 200px;
    padding: 5px;
}

.field #message {
    border-radius: 10px;
    border: none;
    width: 200px;
    padding: 5px;
}


.rightsection #button {
    padding: 5px;
    margin-left: 85px;
    border-radius: 7px;
    width: 110px;
    background-color: white;
    border: 5px;
}